# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
# Drizzle ORM (Archivos de Desarrollo y Metadata de Migraciones)
# Se ignora la carpeta de metadatos de Drizzle.
.drizzle/
# Se ignora el archivo de configuración, que no es necesario para el runtime de Next.js en Vercel.
drizzle.config.ts

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
